@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var showBanner = !Context.Request.Cookies.ContainsKey(".AspNet.Consent");
}

@if (showBanner)
{
    <div class="fixed-bottom bg-light p-2" id="cookie-banner">
        <div class="container">
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <p class="mb-0">This website uses cookies. Click <a asp-action="Privacy">here</a> to learn more about how we use your data.</p>
                </div>
                <div>
                    <button class="btn btn-primary btn-sm" id="accept-cookies">I understand</button>
                </div>
            </div>
        </div>
    </div>

    <script>
    document.getElementById("accept-cookies").onclick = function () {
      var date = new Date();
      date.setFullYear(date.getFullYear() + 1);

        //document.cookie = ".AspNet.Consent=yes; expires=" + date.toUTCString() + "; path=/";
        document.cookie = ".AspNet.Consent=yes; expires=Session";
      document.getElementById("cookie-banner").style.display = "none";
    };
    </script>
}

