@{
    ViewData["Title"] = "Home Page";
}


<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="https://images.squarespace-cdn.com/content/v1/56c13cc00442627a08632989/1567266169407-1ES9X6XT1S0JC675R67B/kingtut?format=1500w" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Learn About Mummies</span>
                    <span class="section-heading-lower">Worth Every Minute</span>
                </h2>
                <p class="mb-3">BYU Researchers are hard at work gathering data and information about the ancient and advanced Egyptians! If you want to learn more about what they have done and look through their finds click below.</p>
                    <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" asp-area="" asp-controller="Home" asp-action="BurialList">Explore the Artifacts!</a></div>
            </div>
        </div>
    </div>
</section>
<br/>
<br />
<br />
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Explore the map around our digsite.</span>
                    </h2>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27832.20257320994!2d30.824776878469567!3d29.310932879397033!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1459792fa8bf0013%3A0xa698b3d528236f63!2sFaiyum%2C%20Qesm%20Al%20Fayoum%2C%20Faiyum%2C%20Faiyum%20Governorate!5e0!3m2!1sen!2seg!4v1617013148790!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>


