@{
	ViewData["Title"] = "Fag el-Gamous Burial Site Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
	<div class="about-heading-content">
		<div class="row">
			<div class="col-xl-9 col-lg-10 mx-auto">
				<div class="bg-faded rounded p-5">
					<h1>Privacy Policy</h1>
					<h2>What data do we collect?</h2>
					<p>Fag el-Gamous's website simply collects a user's email along with a password they choose. This is stored in a database so you can access all the interesting historical information we have.</p>

					<h2>How do we collect your data?</h2>
					<p>You directly provide Fag el-Gamous's website with most of the data we collect. We collect data and process data when you:</p>
					<ul>
						<li>Log into an account.</li>
						<li>Voluntarily complete a customer survey or provide feedback via email.</li>
						<li>Use or view our website via your browser’s cookies.</li>
					</ul>

					<h2>How will we use your data?</h2>
					<p>Fag el-Gamous's website collects your data so that we can:</p>
					<ul>
						<li>Share informative historical information with you.</li>
						<li>Email you about any opportunities that Fag el-Gamous's website has to offer.</li>
						<li>Email to address any complaints you have.</li>
						<li>If you agree, Fag el-Gamous's website will share your data with our partner companies so that they may offer you their products and services.</li>
						<li>When Fag el-Gamous's website processes your order, it may send your data to and also use the resulting information from, credit reference agencies to prevent fraudulent purchases.</li>
					</ul>

					<h2>How do we store your data?</h2>
					<p>Fag el-Gamous's website securely stores your data in a database stored on AWS. Fag el-Gamous's website will keep your email forever. We will never delete your data unless you ask us to.</p>

					<h2>Interesting information</h2>
					<p>Fag el-Gamous's website would like to send you information about our historical facts and new discoveries of ours that we think you might like. If you have agreed to receive interesting historical facts, you may always opt-out at a later date.</p>

					<h2>What are your data protection rights?</h2>
					<ul>
		<li>The right to access – You have the right to request Fag el-Gamous's website for copies of your personal data. We may charge you a small fee for this service.</li>
		<li>The right to rectification – You have the right to request that Fag el-Gamous's website correct any information you believe is inaccurate. You also have the right to request Fag el-Gamous's website to complete the information you believe is incomplete.</li>
		<li>The right to erasure – You have the right to request that Fag el-Gamous's website erase your personal data, under certain conditions.</li>
		<li>The right to restrict processing – You have the right to request that Fag el-Gamous's website restrict the processing of your personal data, under certain conditions.</li>
		<li>The right to object to processing – You have the right to object to Fag el-Gamous's website processing of your personal data, under certain conditions.</li>
		<li>The right to data portability – You have the right to request that Fag el-Gamous's website transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
	</ul>
	<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email:</p>
	<ul>
		<li>Call us at: 888-888-8888</li>
		<li>Email us at: temp@gmail.com</li>
		<li>Or write to us at: temp@gmail.com</li>
	</ul>
					<h1>Cookie Policy</h1>
					<p>There are a number of different types of cookies, however, our website uses:</p>
					<ul>
						<li><strong>Functionality:</strong> Fag el-Gamous's website uses these cookies so that we recognize you on our website and remember your previously selected preferences. These could include what language you prefer and the location you are in. A mix of first-party and third-party cookies is used.</li>
						<li><strong>Advertising:</strong> Fag el-Gamous's website uses these cookies to collect information about your visit to our website, the content you viewed, the links you followed, and information about your browser, device, and your IP address. Fag el-Gamous's website sometimes shares some limited aspects of this data with third parties for advertising purposes. We may also share online data collected through cookies with our advertising partners. This means that when you visit another website, you may be shown advertising based on your browsing patterns on our website.</li>
					</ul>
					<p><strong>How to manage cookies:</strong> You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.</p>
					<p><strong>Privacy policies of other websites:</strong> The Fag el-Gamous's website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.</p>
					<p><strong>Changes to our privacy policy:</strong> Fag el-Gamous's website keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 9 January 2019.</p>
					<h2>Contact Information</h2>
					<p>If you have any questions about Fag el-Gamous's website privacy policy, or the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us:</p>
					<ul>
						<li>Email us at: <a href="mailto:temp@gmail.com">temp@gmail.com</a></li>
						<li>Call us: 888-888-8888</li>
						<li>Or write to us at: temp@gmail.com</li>
					</ul>
					<p><strong>How to contact the appropriate authority:</strong> Should you wish to report a complaint or if you feel that Fag el-Gamous's website has not addressed your concern in a satisfactory manner, you may contact the Information Commissioner’s Office:</p>
					<ul>
						<li>Email: (801) 851-8135</li>
						<li>Address: 1234 Address way, Cairo Egypt</li>
					</ul>
				</div>
		</div>
	</div>
</div>
