@{
    ViewData["Title"] = "Unsupervised Learning";
}
<section class="page-section about-heading" >
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="https://www.dropbox.com/s/ceiunyfci5oejbr/NumClusters.png?dl=1" alt="..." />
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Unsupervised Learning</span>
                            <span class="section-heading-lower">About Our Model</span>
                        </h2>
                        <p>Our unsupervised model is using the data from the Burial Main, Body Analysis Chart, the C14 data and finally the number of textiles found with every body.
                            These choices were made very specifically to avoid duplication of data as well loosing data.  <br /> <br />
                            In order to determain what variables to study in comparision to burial depth we ran a cluster analysis. In the following segements we will explore if burial depth can show a change in the cluster variables.
                        
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br />
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="https://www.dropbox.com/s/z2ylc2avsfm7r8j/BurialDepthW%20%281%29.png?dl=1" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">

                            <p class="mb-0 text-white">
                                The first variable that we looked at was if the number of mummies found were fully wrapped partially wrapped or unwrapped. What we found was that the potentially mummies that the class distinction in the burial ritual were more promenent in older mummies then in younger mummies. This is show by their being no partially wrapped mummies at a depth of 1.52 meters or more. This could show class rolls changed in the burial ceremony as time moved on.
                                What we found is that with the data we have.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="https://www.dropbox.com/s/f7o7ottojoxbxmr/download.png?dl=1" alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <p class="mb-0 text-white">The second variable that we looked at was if the number of textiles a person was buried at changed over time. As you can see on the line chart their are times of peaks and valleys. With the randomness of how many textiles were found with mummies we came to the conclusion that mummies were buried with their items. However, one caveat is that their was only 37 Mummies out of 975 that had textiles documented with them this means that we could not have enough data to come to this conclusion./p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="https://www.dropbox.com/s/ssgbs68pb3gjulr/download-2.png?dl=1" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">

                            <p class="mb-0 text-white">The final check we ran was to see if the area someone was buried in changed over time. After looking at the data it does seem that mummies were buried all over no matter the decade. This is shown because no matter what depth you can find their are mummies buried in each of the areas. This test does have enough data to probably say that each area was used in each time period. One test that we coud run after this however is to combine this data with the data from the number of textils buried with mummies to see if different classes were buried in different areas and if that changed over time.  </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</>
